<h1>About Us</h1>

<div>
    <ul>Fakturio jest prostą aplikacją do wystawiania faktur w następujących językach:
      <li>polskim</li>
      <li>angielskim</li>
      <li>niemieckim</li>
    </ul>

   <p>Jeśli chciałbyś wystawić fakturę w innym języku proszę o <%= link_to "kontakt", contact_url %></p>
</div>